<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLink="/recipes" class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                <a class="nav-link"  style="cursor: pointer;">Recipes<span class="sr-only">(current)</span></a>
            </li>
            <li routerLink="/shopping-list" style="cursor: pointer;" class="nav-item" routerLinkActive="active" >
                <a class="nav-link" >Shopping List</a>
            </li>
            <li routerLink="/auth" style="cursor: pointer;" class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
                <a class="nav-link" >Authenticate</a>
            </li>

        </ul>

        <ul class="navbar-nav">
          <li ngbDropdown class="nav-item dropdown" *ngIf="isAuthenticated">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
              Dropdown
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
              <a class="dropdown-item" style="cursor: pointer;" (click)="onDataFetch()">Fetch Data</a>
              <a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">Logout</a>
            </div>
          </li>
        </ul>
    </div>

</nav>
